.tasbeh{
    width: 110px;
    height: 155px;
    background-color: blueviolet;
    border-color: blue;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 19%;
    border: 1px solid blue
}
.display{
    width: 55%;
    position: absolute;
    top: 15%;
    left: 19%;
    height: 30px;
    caret-color: unset;
    border-radius: 8%;
    border: 1px solid floralwhite;
    text-align: center;
    font-size: 30px;
}
.sanoq{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 45%;
    left: 32%;
}
.reset{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 75%;
    left: 39%;
}

